[submodule "dependencies/i2rt"]
	path = dependencies/i2rt
	url = https://github.com/i2rt-robotics/i2rt.git
	commit = cbe48976b44aae45af856c62545be00ea2feed11
[submodule "dependencies/jaxls"]
	path = dependencies/jaxls
	url = https://github.com/brentyi/jaxls.git
[submodule "dependencies/pyroki"]
	path = dependencies/pyroki
	url = https://github.com/chungmin99/pyroki.git
[submodule "dependencies/mjlab"]
	path = dependencies/mjlab
	url = https://github.com/mujocolab/mjlab.git
